* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Ari;
    background-color: #ecebeb;
}

#logo {
    position: absolute;
    left: 40px;
    top: 10px;
    z-index: 9999;
}

#imgCursos{
    width: 20%;
    height: auto;
    border-radius: 5px;
    
}

#imgCurso1{
    width: 20%;
    height: auto;
    border-radius: 5px;
    
}

#logo img {
    border-radius: 25%;
    width: 100px;
}

#navbar {
    font-size: 25px;
    background: linear-gradient(to right,#EEC400, #FFD820, #FFF139);
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 2;
   
}

#navbar img{
    width: 245px;
    border-radius: 25%;
    float: top;
}

#sidebar {
    position: relative;
    width: 160px;
    float: left;
    margin-top: 129px;
    height: 160vh;
    z-index: 1;
   
  

    background: linear-gradient(#0095B5,#0094B2,#19ADCB,#32C6E4);
}

.icon-button {
    
    background: none;
    border: none;
    cursor: pointer;
}

.icon-button {
    margin-left:30px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
   
}

.home-icon {
   width:50px; 
   position:static; 
}

.play {
   width:30px; 
   height:auto; 
   margin-top: 12px;
   margin-left: 12px;
   position:static; 
   
}
.VIDEO {
    position:fixed;  
    margin-top: 100px;
    width:150px; 
    bottom: 0;
    height:auto; 

}



#content {
   margin-top:80px; 
   margin-left:380px; 
   display:block; 
}



#whatsapp-button {

   position:fixed; 
   right:10px; 
   bottom:10px; 
   width:70px; 
   height:auto; 
}


.container {
    padding: 20px;
}

.row {
    margin-bottom: 20px;
}

.col-sm {
    border: 1px solid #ddd;
    padding: 20px;
}

#navbar-mobile {
    display: none;
    position: fixed;
    top: 0; 
    width: 100%;
    height: 150px;
    font-size: 25px;
    background: linear-gradient(to right,#EEC400, #FFD820, #FFF139);
    padding: 0;
    text-align: center;
    
}

#CheckboxCursosEncerrados, #CheckboxGratuitos, #CheckboxPagos,#CheckboxCursosAtivos{
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #000;
    background: white;
    cursor: pointer;
  }

.BemVindo {
    text-align: center;
    margin-top: 20px; 
  margin-left: -601px;
  }
  
  
  #CheckboxCursosAtivos:checked, #CheckboxCursosEncerrados:checked, #CheckboxGratuitos:checked,#CheckboxPagos:checked {
    background: url(imgs/VerificarIcon_resized.png) no-repeat center center, white;
    background-size: contain;
    
  }
  
  .checkbox-espaco {
    margin-left: 20px;
}
  
  .quadradoCheckBox2 {
    width: 300px;
    height: 60px;
    /*background: #467BA1;*/
    /*background:#A9A9A9;*/
    background: #7ACBD1;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
    margin-right: 10px;
    border-radius: 10px;
}
.TipoConteudo {
    transform: translate(26px, 40px);
  }
.MeusCursos{
    transform: translate(0px, 10px);
   
}


  .quadradoCheckBox {
    width: 350px;
    height: 60px;
    /*background: linear-gradient(#579ACB,#74C2DC,#579ACB);*/
    /*background: #467BA1;*/
    /*background:#A9A9A9;*/
    background: #7ACBD1;
    position: absolute;
    top: 20%;
    left: 22%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    
}

.quadradoMeusCursos{
    width: 900px;
    height: 500px;
    background: #7ACBD1;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}



.curso-botoes1 button {
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.curso-botoes2 button {
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.curso-botoes2 button:hover {
    background-color: white; 
    color: #007BFF;
}

.curso-botoes3 button {
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.curso-botoes3 button:hover {
    background-color: white; 
    color: #007BFF;
}
.curso-botoes1 button:hover {
    background-color: white; 
    color: #007BFF;
}
.curso-botoes button {
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.curso-botoes button:hover {
    background-color: white; 
    color: #007BFF;
}



.curso {
    display: flex;
    align-items: center; 
    gap: 20px; 
}


.curso1 {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.curso2 {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.curso3 {
    display: flex;
    align-items: center; 
    gap: 20px; 
}


.curso-info {
    flex-grow: 1; 
}

.curso-info1 {
    flex-grow: 1;
}

.curso-info2 {
    flex-grow: 1;
}

.curso-info3 {
    flex-grow: 1;
}

.quadrado {
    width: 1000px;
    height: 1000px;
    margin-top: 100px;
    background: linear-gradient(#539AC9, #6ABAD0);
    position: absolute;
    top: 60%;
    left: 54%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

#MobileIMG{
    height: auto; 
    width: 245px;
    border-radius: 25%;
    float: top;
}

/* CODIGO RESPONSIVIDADE MOBILE */
@media screen and (max-width : 768px) {

    /* altera a direção do layout principal para coluna quando em uma tela pequena. */
    body {
        flex-direction : column ;
    }

    

    #navbar-mobile {
        display: block;
    }

    #navbar {
        display: none;
    }


    /* esconde o logo quando em uma tela pequena. */
    #logo img {
        width : 0% ;
        display : block ;
        margin-left : auto ;
        margin-right : auto ;
    }

    /* ajusta a largura da imagem da navbar para 50% e centraliza-a quando em uma tela pequena. */
    #navbar img{
        width : 50% ;
        display : block ;
        margin-left : auto ;
        margin-right : auto ;
        order: 0;
        
    }

    /* ajusta o layout da barra lateral para ser horizontal e centraliza seus itens quando em uma tela pequena. */
    #sidebar {
        position : fixed ;
        width : 100% ;
        height : auto ;
        display : flex ;
        flex-direction : row ;
        justify-content : space-around ;
        align-items: center;
    }

    /* ajusta o tamanho do ícone de casa para 30% e remove a margem superior quando em uma tela pequena. */
    .home-icon {
        max-width : 80% ;
        order : 1 ; 
        margin-top: 0; 
    }

    /* ajusta o tamanho do botão de play para ser igual ao do ícone de home e remove a margem superior quando em uma tela pequena. */
    .play {
       max-width : 90% ; 
       order : 1 ; 
       margin-top: 0; 
    }

    /* ajusta o tamanho do vídeo alinha à esquerda e acompanhar a rolagem do site */
    .VIDEO {
        width :30% ;  
		order :-1 ; 
		float:left; 
		position:fixed;  
		bottom:0; 
		left:0; 
    }

    /* adiciona margens ao conteúdo principal */
    #content {
       margin-top : 20px ; 
       margin-left : auto ; 
       margin-right : auto ;  
    }

    /* ajusta a largura das imagens na grade para ocupar toda a largura */
    #grid img {
       width : 100% ;  
    }

    /* aove o botão do WhatsApp um pouco para a esquerda. */
    #whatsapp-button {
       right : -5% ;
    }
    
  
}
